#container {
    display: flex;
    flex-flow: column;
    margin-left:35%;
    margin-right: 35%;
    margin-top: 130px;
    width: 250px;
    height: 355px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(65,65,65, 0.4);
}
#otherContainer {
    display: flex;
    flex-flow: column;
}
#resultBox {
    display: flex;
    flex-flow: column;
    height: 80px;
    background-color: #f0f0f0;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid black;
    gap: 4px;
}
#currentDisplay {
    font-size: 1.3em;
    padding: 5px;
    height: 43%;
    text-align: right;
}
#finalDisplay {
    font-size: 1.8em;
    padding: 5px;
    height: 43%;
    text-align:right;
}

#clearSignContainer {
    display: grid;
    grid-auto-flow: column;
}
#clear {
    background-color: rgb(240,128,128,0.5);
}
#signChange {
    background-color: rgb(240,128,128,0.5);
}
.operatorsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 0;
}
.button {
    padding: 0;
    margin: 4px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.5em;
    height: 45px;
}
#equalsKey {
    background-color: rgb(80, 200, 120, 0.8);
}